<div class="header">
    <div class="user-info">
        <span>Welcome !! </span>
        <span>{{email}}</span>
        <!-- <span>{{designation}}</span> -->
        <button (click)="logout()">Logout</button>
    </div>
</div>




<div class="content">
    <h2>Successfully Logged In {{ userName }} {{userId}}</h2>
    <p>Welcome!!</p>
    <!-- <div *ngIf="image">
    <div *ngFor="let img of image">
    <img  [src]="img" alt="User Image" class="user-image">
    </div>
    </div> -->
  </div>
  
<nav>
    <ul>
        <li >
            <a routerLink="/employee-details">Emp Details</a>
        </li>
    </ul>
</nav>

<!-- Instead of using interpolation ({{Image}}), you can use Angular's property binding with [src]. 
 This way, Angular will dynamically bind the image URL to the src attribute of the <img> tag. -->