<div class="header">
    <div class="user-info">
        <span>Welcome !! </span>
        <span>{{email}}</span>
        <button (click)="logout()">Logout</button>
    </div>
</div>




<div class="content">
    <h2>Successfully Logged In {{ userName }}</h2>
    <p>Welcome!!</p>
    <img *ngIf="image" [src]="image" alt="User Image" class="user-image">
  </div>
  


<!-- Instead of using interpolation ({{Image}}), you can use Angular's property binding with [src]. 
 This way, Angular will dynamically bind the image URL to the src attribute of the <img> tag. -->