<div class="container">
    <!-- Pass imageEdit to the employee-form as an input, and handle cancelClick event -->
    <app-employee-form 
    [remove]="isEditing"
      [imageFromPar]="imageShow" 
      (cancelClick)="resetImage()"
      (checkboxStateChange)="updateCheckboxState($event)">
    </app-employee-form>
  </div>
  

<!-- <app-employee-form ></app-employee-form> -->



<div class="container">
<table class="table table-hover"  >
    <thead class="thead-dark">
    <tr>
        <th>
            Name
        </th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date of Joining</th>
        <th>Gender</th>
        <th>Designation</th>
        <th>Age</th>
        <th>Hobbies</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
</thead>
    <tbody>
        <tr *ngFor="let employee of empService.listEmployee">
            <td>
                {{employee.name}}
            </td>
            <td>
                {{employee.lastName}}
            </td>
            <td>
                {{employee.email}}
            </td>
            <td>
                {{employee.doj | date : 'yyyy-MM-dd'}}
            </td>
            <td>
                {{employee.gender}}
            </td>
            
            <td>
                {{employee.designation?.designation}}
            </td>
            <td>
                {{employee.age}}
            </td>
         
            <td>
                {{ employee.hobbies }}
            </td>
              

             <!-- <td *ngFor=" let list of imageShow"> -->
                <!-- <img [src]="list" alt="Employee Image" class="img-thumbnail" width="40" height="40" /> -->
                 <!-- [src]="image" -->
            <td>
                <div *ngIf="employee.image?.length > 0">
                    <img *ngFor="let image of employee.image"   [src]="image"  alt="Employee Image" class="img-thumbnail" width="50" height="50" />
                  </div>
                  <div *ngIf="!employee.image || employee.image.length === 0">
                    No Image
                  </div>

            </td>

             <!-- so now we have to show images in my table, this is different compo emp-detail compo, so how do we get that images of that employe an dshow in there -->
                                              
                <td>
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" type="button" (click)="edit(employee)">Edit</button>
                        <button class="dropdown-item" [disabled]="!isDeleteEnabled" type="button" (click)="delete(employee.id)">Delete</button>
                      </div>
                    </div>
                </td>
                  
        </tr>
    </tbody>
</table>

</div>

<nav>
    <ul>
      <li><a routerLink="/login">Login</a></li>
      <!-- <li><a routerLink="/employee-details">Employee Details</a></li> -->
    </ul>
</nav>