<!-- Assuming your cancel button is inside the employee-form component -->

 <!-- adding dropdown  in form to show category and subcategory . dding functionaly that after selecting category then only subcategory dropdown is
  enabled -->
  <!-- writing ngOnInIt method in component , in that fethching category and subcategory. Adding filter while fetching subcategory such as 
   when category is selected then for that category ,subcategories are displayed in subcategory dropdown. -->
   <!-- adding category and subcategory column in employee table .
    Storing category and subcategory in db using post api. -->
    <!-- implementing ngOnChanges on input field from parent component -->

    <div class="formAdd" >
        <form autocomplete="off" #myform="ngForm" (ngSubmit)="myform.form.valid && submit(myform)">
            <div class="container" >
                <div class="row" style="margin:20px;">
    
                    <div class="col-md-3">
                        <!-- property binding using [value] for getting dymnamic value -->
                        <input  type="hidden" name="id" [value]="empService.employeeData.id">
                        <label for="name" class="float-left">
                            Name <span class="text-danger">*</span>
                        </label>
                        <div *ngIf="name.invalid && (name.touched || name.dirty)" class="float-right"  >
                            <p class="text-danger">Empty!!</p>      
                        </div>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" #name="ngModel" [(ngModel)]="empService.employeeData.name"  required  >                   
                    </div>
    
    
                    <div class="col-md-3">
                        <label for="lastName"  class="float-left">Last Name <span class="text-danger">*</span></label>
                        <div *ngIf="lastname.invalid && (lastname.touched || lastname.dirty)" class="float-right" > 
                            <p class="text-danger">Empty!!</p>                        
                        </div>                                
                        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Enter last name" #lastname="ngModel" [(ngModel)]="empService.employeeData.lastName" required noSpaceValidator>
                        
                    </div>
    
                    <div class="col-md-3">
                        <label for="email"  class="float-left">Email <span class="text-danger">*</span></label>
                        <div *ngIf="email.invalid && (email.touched || email.dirty)" class="float-right" >     
                            <p class="text-danger">Invalid email!!</p>
                        </div>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" #email="ngModel" [(ngModel)]="empService.employeeData.email"   pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"   required>
                    </div>
                    <!-- data is not posting as i click save, and this error occurs -->
                    <!-- <div class="col-md-3">
                        <div>
                        <label for="isMarried">isMarried</label>
                        <input type="checkbox"  name="isMarried" [(ngModel)]="empService.employeeData.isMarried" [value]="empService.employeeData.isMarried ? 1: 0" class="form-control" >
                    </div>
                    </div> -->
    
                    <div class="col-md-3">
                        <label for="age" class="float-left">Age<span class="text-danger">*</span></label>            
                        <div *ngIf="age.invalid && (age.touched || age.dirty)" class="float-right">
                            <!-- <div *ngIf="age.errors?.['age.required']">Age is required</div> -->
                            <div *ngIf="age.errors?.['min']" class="text-danger">Age > 18!</div>
                        </div>
                        <input type="number" id="age" name="age" class="form-control" placeholder="Enter age" #age="ngModel" [(ngModel)]="empService.employeeData.age" required min="19">
                    </div>
                    
                    <div class="col-md-3">
                        <label for="doj" class="label">Date of Joining<span class="text-danger">*</span></label>
                        <div *ngIf="doj.invalid && (doj.touched || doj.dirty)" class="float-right">     
                            <div class="text-danger">Doj Required</div>
                        </div>
                        <input type="date" id="doj" name="doj" class="form-control" #doj="ngModel" [(ngModel)]="empService.employeeData.doj" required>
                    </div>

                
                    <div class="col-md-3">
                        <label for="designation">Designation<span class="text-danger">*</span></label>
                        <div *ngIf="designationID.touched && (empService.employeeData.designationID===0)" class="float-right">              
                        </div>
                        <select name="designationID" class="form-control" #designationID="ngModel" [(ngModel)]="empService.employeeData.designationID"  id="designation" required>
                            <option >Select designation</option>
                            <option [ngValue]="desg.id" *ngFor="let desg of empService.listDesignation ">{{desg.designation}}</option>
                        </select>
                    </div>  
    
            
    
    
                    <div class="col-md-3">
                        <label for="password"class="float-left">Password<span class="text-danger">*</span></label>
                        <div *ngIf="password.invalid && (password.touched || password.dirty)" class="float-right">                       
                            <div class="text-danger"></div>
                        </div>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" #password="ngModel" [(ngModel)]="empService.employeeData.password">
                    </div>
    
    
                <!-- using <input type="image"> which is meant for image buttons, not for file uploads. 
                    Instead, you should use <input type="file"> for uploading an image. -->
    
                        <div class="col-md-3">
                            <label for="image" class="float-left">Image</label>
                            
                            <div  class="float-right">
                                <div  *ngIf="(isImageRequired && image.invalid) || (image.touched && image.dirty) ">
                         
                                </div>
                            </div>
    
                            <input type="file" accept="image/*" (change)="onImageSelected($event)" id="image" multiple name="image" class="form-control" #image="ngModel" [(ngModel)]="empService.employeeData.image" >
                            
                            <!-- for posting -->
                            <div *ngFor="let preview of imagePreviews">
                                <img [src]="preview.url" alt="Image preview" class="img-thumbnail" width="80" height="80" />
                        
                            </div>
                                  
                            <!-- executed when editing -->
                            
                            <div *ngIf="imageFromPar">                           
                                <div *ngFor="let img of imageFromPar">
                                  <img [src]="img.url" alt="Employee Image" class="img-thumbnail" width="80" height="80" />
                                  <input type="checkbox" class="checkbox" (change)="onChecktick(img.id,$event)"  > 
                                </div> 
                            </div>
    
                            <div *ngIf="remove">
                                <button (click)="removeImage(this.empService.employeeData.id)">Remove</button>   
                            </div> 
    
                        </div> 
    
                         <!-- <div class="col-md-3 row">
    
                            <label for="category">Select Category <span class="text-danger">*</span></label>
                   
                            <select class="form-control" name="category" [(ngModel)]="selectedCategory"  (change)="onCategoryChange()">
                              <option >Select Category</option>
                              <option *ngFor="let cate of empService.listCategory" [value]="cate.id">{{ cate.categories }}</option>
                            </select>
    
                    
                            <label for="subCategory">Select Subcategory<span class="text-danger">*</span></label>  
                                     
                              <select class="form-control" name="subCategory" [(ngModel)]="selectedSubCategory" [disabled]="filteredSubcategories.length === 0">
                                <option >Select Subcategory</option>
                                <option *ngFor="let sub of filteredSubcategories" [value]="sub.id">{{ sub.subCategories }}</option>
                              </select>
                              
                        </div> -->
                          
     
                   
    
    
                    <div class="col-md-3" id="gender">
                        <label for="gender">Gender<span class="text-danger">*</span></label>
                        <div class="row">
                            <div *ngIf="gender.invalid && gender.touched" class="float-right">                       
                                <div class="text-danger">Gender Required</div>
                            </div>
                            <div class="form-check form-check-inline ">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="Male" required> Male
                                </label>
                            </div>
                            <!-- //put input in label for radio button so they appear side by side -->
                            <div class="form-check form-check-inline ">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="gender" #gender="ngModel" [(ngModel)]="empService.employeeData.gender" value="Female" required> Female
                                </label>
                            </div>
                        </div>
                    </div>
                   
          
              <div class="col-md-6" id="hobby">
                <div class="form-check form-check-inline">
                  <label>Select Hobby<span class="text-danger">*</span></label>
                  <br>
                  <div *ngFor="let hobby of empService.listHobbies">
                    <input #hobbyCheckbox  type="checkbox" [checked]="isHobbySelected(hobby.hobbyId)" (change)="onHobbyChange($event, hobby.hobbyId)" required/>                                
                    <label>{{ hobby.hobbyName }}</label>
                  </div>
                </div>
              </div>
    
              <div>
                <div class="col-md-4" class="container float-left">
                    <button (click)="onShowCategory()" class="btn btn-primary">Show Categories</button>
                </div>
              </div>
            
              <!-- //checked while saving form then only delete button will be enable for us to delete, otherwise not enabled, so issue is this checkbox is create in other html and delete is in other component html -->
    
              <div class="col-md-3">
                <label>isReview</label>
                <input type="checkbox" [checked]="isChecked" (change)="onCheckboxChange($event)">
              </div>
              
              <br>
              <div class=col-md-2 id="saveCancel"> 
                <div >
                    <button type="submit" [disabled]="!myform.valid || !isAnyHobbySelected()"  class="btn btn-success btn-block">Save</button>
                </div>    
                <div >
                    <!-- ALSO onCancel method can be used to reset -->
                    <button type="button" (click)="onCancel(myform)" id="cancel"  class="btn btn-danger btn-block">Cancel</button>
                </div>
             </div>      
                </div>
            </div>
        </form>
    </div>