.formAdd {
 
  background: #66c7c7;
  color: #FFF;
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; /* Add some spacing below the form */
}

label{color:white;
font-weight: 500;}

#toggle {
  appearance: none;
  cursor: pointer;
  position: absolute;
  left: -100%;
  top: -100%;
}

#toggle + label {
  cursor: pointer;
  padding: 10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color:black;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
  display: inline-block;
}

.container {
  padding: 2em 3em;
  margin-top: 0; /* Remove any extra margin */
}

#toggle:checked + label {
  background: #dd6149;
}

/* #toggle:checked + label:after {
  content: "Close";
} */

#saveCancel{
  margin-top: 20px;
  padding: 10px;
}

#cancel{
  margin-top: 10px;
}

#hobby{
  margin: 10px;
}

#gender{
  margin-top: 10px;
}